<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,0},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,252},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,504},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,630},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,756},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,126},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,126},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,378},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,882},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,0},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,126},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>24.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,252},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>25.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,378},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>26.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,504},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>27.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,630},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>28.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,756},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>29.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,882},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>31.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,0},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>32.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,126},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>33.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,252},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>34.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,378},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>35.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,504},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>36.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,630},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>37.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,756},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>38.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,882},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>39.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,0},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>41.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,126},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>42.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,252},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>43.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,378},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>44.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,504},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>45.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,630},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>46.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,756},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>47.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,882},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,125}}</string>
				<key>sourceSize</key>
				<string>{83,125}</string>
			</dict>

			<key>h11.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,592},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h12.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,422},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h13.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,507},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h14.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,847},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h15.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,677},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h16.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,762},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h17.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,337},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h18.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,932},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h19.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,252},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h21.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,592},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h22.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,422},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h23.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,507},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h24.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,847},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h25.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,677},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h26.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,762},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h27.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,85},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h28.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,932},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h29.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,0},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h31.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,340},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h32.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,170},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h33.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,255},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h34.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,340},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h35.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,595},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h36.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,337},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h37.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,425},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h38.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,510},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h39.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,850},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h41.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,680},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h42.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,765},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h43.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,85},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h44.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,935},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h45.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,0},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h46.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,170},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>h47.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,255},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

			<key>l11.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,630},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l12.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,589},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l13.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,41},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l14.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,533},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l15.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,41},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l16.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,451},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l17.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,492},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l18.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,466},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l19.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,425},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l21.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,712},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l22.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,753},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l23.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,671},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l24.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,835},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l25.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,876},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l26.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,794},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l27.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,958},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l28.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,0},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l29.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,917},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l31.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,425},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l32.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,466},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l33.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,123},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l34.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,548},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l35.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,589},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l36.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,507},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l37.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,671},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l38.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,712},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l39.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,630},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l41.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,794},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l42.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,835},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l43.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,753},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l44.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,917},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l46.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,958},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l47.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,876},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>l45.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,205},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r11.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,246},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r12.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,164},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r13.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,328},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r14.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,369},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r15.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,287},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r16.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,82},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r17.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,410},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r18.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,507},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r19.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,0},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r21.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,82},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r22.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,123},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r23.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,410},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r24.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,451},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r25.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,492},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r26.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,533},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r27.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,574},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r28.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,615},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r29.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,656},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r31.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,697},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r32.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,738},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r33.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,779},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r34.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,820},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r35.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,861},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r36.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,902},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r37.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,943},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r38.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,164},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r39.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,205},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r41.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,246},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r42.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,287},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r43.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,328},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r44.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,369},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r46.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,0},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r47.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,41},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>r45.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,82},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>tbgs_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,170},{24,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,60}}</string>
				<key>sourceSize</key>
				<string>{24,60}</string>
			</dict>

			<key>tbgs_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,574},{40,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,59}}</string>
				<key>sourceSize</key>
				<string>{40,59}</string>
			</dict>

			<key>tbgs_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,694},{24,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,60}}</string>
				<key>sourceSize</key>
				<string>{24,60}</string>
			</dict>

			<key>tdbgs_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,123},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>tdbgs_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,634},{38,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,59}}</string>
				<key>sourceSize</key>
				<string>{38,59}</string>
			</dict>

			<key>tdbgs_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,548},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>

			<key>tdbgs_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,252},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,84}}</string>
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>card.png</string>
			</dict>
		</dict>
</plist>